[Desktop Entry]
Name=Rusic
Comment=A modern music player
Exec=rusic
Icon=com.temidaradev.rusic
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;Music;
Keywords=Music;Player;
StartupWMClass=rusic
